{% extends 'base.html.twig' %}

{% block title %}New Service{% endblock %}

{% block body %}
<div class="admin mt-5 mw-100vw">
    <h1 class="text-center">Créer un nouveau service</h1>

    {{ include('admin/service/_form.html.twig') }}

    
</div>
{% endblock %}
