{% extends 'base.html.twig' %}


			{% block body %}

				<div class="team-page">
					<div class="team-page_group">
						<div class="team-page_avatar">
							<img src="{{ asset('assets/uploads/alex.jpg') }}" alt="">
                     <p class="presentation">Alex</p>
                     <p class="presentation">Scrum Master</p>
                     <p class="presentation">et Git Master</p>
                     <p class="presentation">La Rochelle</p>

						</div>
						<div class="team-page_avatar">
							<img src="{{ asset('assets/uploads/timothy.jpg') }}" alt="">
                     <p class="presentation">Timothy</p>
                     <p class="presentation">Lead dev front</p>
                     <p class="presentation">La réunion</p>
						</div>
						<div class="team-page_avatar">
							<img src="{{ asset('assets/uploads/aimerick.png') }}" alt="">
                     <p class="presentation">Aimerick</p>
                     <p class="presentation">Lead dev back</p>
                     <p class="presentation">Paris</p>
						</div>
						<div class="team-page_avatar">
							<img src="{{ asset('assets/uploads/daniel.png') }}" alt="">
                     <p class="presentation">Daniel</p>
                     <p class="presentation">Product Owner</p>
                     <p class="presentation">Bourges</p>
						</div>

					</div>
				</div>
			</div>
		{% endblock %}
