* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;    
}

body {
    background-color: #ededed;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}
.avatar-info {
    width : 7em;
    border-radius: 50%;
}

.list-style {
    list-style-type: none;
}

.logo-service {
    width: 4em;
}

.hide {
    display: none;
}

.custom-button {
    border-radius: 50%;
    border: rgba(0, 0, 0, 0.5) solid 2px;
    background-color: #a06363;
    width: 60px;
    height: 60px;
    font-style: italic;
    font-size: 35px;
    position: absolute;
    bottom: 50px;
    right: 10px;    
}

.custom-modal {
    background-color:rgba(120, 145, 64, 0.4); 
    
}

.modal-color {
    background-color:rgb(25, 135,84);
    color: white;
}

.dark {
    color: #fff;
    background-color: #2a2a2e;
}





