* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;    
}

body {
    background-color: #ededed;
}

header {
    height: 50vh;
    background: no-repeat url("../images/rando26.jpg");
    background-size: 100%;
    background-position: center;
}

.navigation {
    position: relative;
    top : 2em;
}

.custom-nav {
    background-color: rgba(32, 31, 31, 0.2);
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}
.avatar-info {
    width : 7em;
    border-radius: 50%;
}

.list-style {
    list-style-type: none;
}

.logo-service {
    width: 4em;
}

.dark {
    color: #fff;
    background-color: #2a2a2e;
}





