{% extends 'base.html.twig' %}

{% block title %}Admin stat{% endblock %}

{% block body %}
<section class="container admin">

<h1 class="text-center" >Bientôt ici vos statistiques</h1>

					
				</section>

{% endblock %}
