{% extends 'base.html.twig' %}

{% block title %}Edition d'un utilisateur - {{parent()}}{% endblock %}

{% block body %}
<div class="mx-5 md-mx-auto">
    <h1 class="text-center">Modifier {{user.firstname}} {{user.lastname}}</h1>

    {{ include('admin/user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

</div>
{% endblock %}
